.blogCont {
    margin-top: 5%;
    background-color: #c0c0c0;
    font-family: sans-serif;
    padding: 8px;
}

.blogCont h1 a:link {
    text-decoration: underline;
    color: black;
}

.blogCont h1 a:visited {
    text-decoration: none;
    color: black;
}

.blogCont p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    font-stretch: extra-expanded;
    letter-spacing: 1.2px;
    line-height: 2;
    font-size: 1.5ch;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;

}


.Links {
    margin-top: 2px;
    margin-bottom: -6.5px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    border-color: #000000;
    border-width: 2px;
}

.Links a:link {
    margin-top: 2px;
    display: flex;
    align-items: start;
    justify-content: left;
    flex-direction: row;
    background-color: #ababab;
    padding: 8px;
    margin-left: 41px;
    margin-right: 85%;
    text-decoration: None;
    color: black;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

.Links a:visited {
    text-decoration: None;
    color: black;

}

.Links a:hover {
    background-color: #878787;
}




.Essay {
    width: 65%;
    height: auto;
    display: inline-block;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-color: #878787;
    font-family: sans-serif;
    margin-left: 100px;
    margin-top: -20%;
    margin-bottom: 100px;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;

}

.Essay h1 {
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.Essay a:link {
    text-decoration: underline;
    color: black;
}

.Essay a:visited {
    text-decoration: None;
    color: black;

}

.Essay p {
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    text-align: left;
    font-stretch: extra-expanded;
    letter-spacing: 1.2px;
    line-height: 2;
    font-size: 1.5ch;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.Essay ol li {
    font-stretch: extra-expanded;
    letter-spacing: 1.2px;
    line-height: 2;
    font-size: 1.5ch;
    font-weight: bold;
    text-align: left;
    justify-content: end;
    align-items: start;
    font-family: sans-serif;
}